@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway&display=swap');

*{
    box-sizing: border-box;
}

h1,h2, .section h5 {
    font-family: 'Homemade Apple', cursive;
}

html {
    height: 100%;
    /* font-size: 62.5%; */
}

body {
    font-family: 'Raleway', sans-serif;
    color: #030203;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff6f5;
}

main {
    flex: 1 0 auto;
}

/* Header */

.nav {
    min-height: 100px; 
}

.nav-wrapper{
    padding: 0 4rem 0 0;        
}

a.brand-logo, #title {
    font-family: 'Homemade Apple', cursive;
    color: #030203;
}

nav ul a {
    color: #030203;
    font-weight: bold;
}

i.material-icons {
    color: #030203;
}

a.waves-effect.btn{
    color: #030203;
    background-color: #8c9f38;
    border-radius: 23px;
}

/* Main */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 50%;
    width: 50%;
    padding: 1rem 0;
    margin: 1rem 0 0 0;
}

.container p {
    text-align: center;
    margin: 0;
}

/* Footer */

footer {
    background-color: #BD8180;
    display: flex;
    /* flex-shrink: 0; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 0.5rem 0;
}

.social-links {
    padding-bottom: 0.5rem;
}

.social-links img {
    height: 2rem;
    width: 2rem;
}
