@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway&display=swap');

*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #030203;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff6f5;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Homemade Apple', cursive;
    font-weight: bolder;
    color: #030203;
}

h1 {
    font-size: 2.56rem;
}

h2 {
    font-size: 2.28rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.71rem;
}

h5 {
    font-size: 1.43rem;
}

h6 {
    font-size: 1rem;
}

/* Header */

.nav-wrapper{
    padding: 0 4rem 0 0;        
}

/* #title { This id was used in the heading of the create_list.html
    font-family: 'Homemade Apple', cursive;
    color: #030203;
} */

nav ul a {
    color: #030203;
    font-weight: bold;
}

i.material-icons {
    color: #030203;
}

a.waves-effect.btn{
    color: #030203;
    background-color: #8c9f38;
    border-radius: 23px;
}

/* Main */

main {
    flex: 1 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 50%;
    width: 50%;
    padding: 1rem 0;
    margin: 1rem 0 0 0;
}

.container p {
    text-align: center;
    margin: 0;
}

/* Sign up, Sign in and Logout pages */

label {
    color: #030203;
    font-size: 1rem;
}

button.waves-effect.btn {
    color: #030203;
    background-color: #8c9f38;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}


/* Footer */

footer {
    background-color: #BD8180;
    display: flex;
    /* flex-shrink: 0; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 0.5rem 0;
}

.social-links {
    padding-bottom: 0.5rem;
}

.social-links img {
    height: 2rem;
    width: 2rem;
}
