{% load static %}

<header>
    <!-- Desktop navbar -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Peaches n cream</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %} 
                <li><a href="#">Logout</a></li>
                {% else %} 
                <li><a href="#" class="waves-effect btn">SIGN UP</a></li><!--add additional style to the sign up link-->
                <li><a href="#">Login</a></li>
                {% endif %}   
            </ul> 
        </div>
    </nav>
                    
    <!-- Mobile navbar -->

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">SIGN UP</a></li>
        <li><a href="#">Login</a></li>

    </ul>
</header>               

           
        
    