{% load static %}

<header>
    <!-- Desktop navbar -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">SIGN UP</a></li>
                <!--add additional style to the sign up link-->
                <li><a href="#">Login</a></li>

            </ul>
        </div>
    </nav>
    <!-- Mobile navbar -->

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">SIGN UP</a></li>
        <li><a href="#">Login</a></li>

    </ul>
</header>