{% extends 'base.html' %}

{% block title %}Create shopping list{% endblock %}
<!-- Here the user will be able to create his/her grocery shopping lists -->

{% block content %}
<div class="row">
    <div class="col s12 m8 l9">
        <h1>My grocery shopping lists</h1>
        <div class="divider"></div>
        <div class="section">
            <ul>
                {% for grocery in grocerys %}
                <li>{{ grocery.name }}</li>
                <li>{{ grocery.item }}</li>
                {% empty %}
                <p>You don't have any list</p>
                {% endfor %}
            </ul>             

        </div>
    </div>
</div>
{% endblock %}   
    






